# requirements-dev.txt
pytest==8.0.0      # Для юніт-тестів
black==24.2.0      # Для форматування коду (PEP8)
ruff==0.2.2        # Супершвидкий лінтер (замість flake8)
mypy==1.8.0        # Для статичної перевірки типів